body {
    padding-top: 56px; /* Pour compenser la hauteur de la barre de navigation fixe */
}

.header {
    background-color: #343a40;
    padding: 15px 0;
}

.header h1 {
    color: white;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

#competences .container .img-fluid{
    width: 60px;
    height: 60px;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

.social-links a {
    color: #007bff;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

#portfolio h1{
    text-align: center;
    padding: 30px;
}

.portfolio-item {
    position: relative;
}

.portfolio-item .overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.timeline-container {
    position: relative;
    padding-left: 50px;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 20px;
    width: 10px;
    height: 100%;
    background: #6c757d;
}

.timeline-block {
    position: relative;
    margin-bottom: 30px;
}

.timeline-block-right .marker,
.timeline-block-left .marker {
    position: absolute;
    left: -20px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
}

.timeline-block-right .timeline-content,
.timeline-block-left .timeline-content {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-block-left .timeline-content {
    margin-left: 50px;
}

.timeline-block-right .timeline-content {
    margin-right: 50px;
}
